# Power BI PBIP - local files
**/.pbi/localSettings.json
**/.pbi/cache.abf
**/.pbi/editorSettings.json
**/~$*
**/*.tmp
**/*.bak
Thumbs.db
Desktop.ini

.env
*.pyc
.pytest_cache/

# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# dbt
dbt/target/
dbt/logs/

# Local logs
logs/

# macOS / Linux
.DS_Store
dbt/.user.yml
